@model List<PokeGame_MVC.Entities.Pokemon>;
@{
    ViewData["Title"] = "Inicio Pokedex";

}

<h2>@ViewData["Title"]</h2>

<input type="text" id="pokemonFilter" class="form-control" placeholder="Buscar por nombre">

<div class="row mt-4" id="pokemonList">
    @foreach (var pokemon in Model)
    {
        <div class="col-md-3 mb-4 pokemon-card" data-name="@pokemon.Name.ToLower()">
            <div class="card">
                <img src="@pokemon.Url" class="card-img-top" alt="@pokemon.Name">
                <div class="card-body">
                    <h5 class="card-title">@pokemon.Name</h5>
                </div>
            </div>
        </div>
    }
</div>

<script>
    
</script>